body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(12, 12, 12);
}
header {
    
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}
h1 {
    margin: 0;
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
}
main {
    padding: 20px;
}
.form {
    border: 2px solid rgb(241, 239, 239);
    padding: 20px;
    background-color: rgb(17, 17, 17);
    color: rgb(0, 0, 255);
    max-width: 400px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 10px;
    color: rgb(25, 59, 170);
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: rgb(245, 241, 241);
    color: rgb(53, 12, 235);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
input[type="submit"]:hover {
    color: #f1e8e8;   
    outline-color: #e21010;
    background-color: #cc0e0e;
}
.manga-images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.manga-images img {
    width: 30%;
    max-height: 200px;
}